{% extends 'ugacaci/base.html' %} 
{% block content %}

<!-- Modal pour le message de succès -->
<div id="successModal" class="modal fade success-modal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-white text-success">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Succès</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="successMessage"></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour le message d'erreur -->
<div id="errorModal" class="modal fade error-modal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-white text-danger">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Erreur</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorMessage"></p>
      </div>
    </div>
  </div>
</div>

<h2 class="container-fluid text-center alert alert-success">Formulaire d'enregistrement des nouveaux Adherents dans la ville de {{ selected_city }}</h2>
 <div id="successModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajout réussi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                L'adhérent a bien été ajouté dans la base de données!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<form class="border p-3 rounded col-10 mx-auto"onsubmit="return validateForm()" method="POST" action="{% url 'adherent' %}"enctype="multipart/form-data">
     {% csrf_token %}
   
  <div class="form-group">
    <label for="nom_prenoms">Nom et prénoms</label>
    <input type="text" class="form-control text-uppercase" id="nom_prenoms" name="nom_prenoms" Required>
  </div>
  <!-- Ajout des champs pour la date et le lieu de naissance -->
<div class="form-group">
    <label for="date_naissance">Date de naissance</label>
    <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
</div>

<div class="form-group">
    <label for="lieu_naissance">Lieu de naissance</label>
    <input type="text" class="form-control" id="lieu_naissance" name="lieu_naissance" required>
</div>


 <div class="form-group">
    <label for="numero_telephone">Numéro de téléphone</label>    
    <input type="text" class="form-control" id="numero_telephone" placeholder="Entrez un numéro à 10 chiffres" name="numero_telephone" pattern="[0-9]{10}" title="Veuillez saisir un numéro à 10 chiffres" required>
</div>


  <div class="form-group">
    <label for="numero_cni">Numéro CNI ou toutes autres pièces valable</label>
    <input type="text" class="form-control text-uppercase" id="numero_cni" name="numero_cni" Required>
  </div>

  <div class="form-group">
    <label for="profession">Profession</label>
    <input type="text" class="form-control text-capitalize" id="profession" name="profession" Required>
  </div>

  <div class="form-group">
    <label for="localite">Zone d'activité</label>  
    <input type="text" class="form-control text-uppercase" id="localite" name="localite"required>
  </div>
<div>
  <div class="form-group">
    <label for="ville">Ville d'ouverture du Compte</label>  
    <input type="text" class="form-control text-uppercase" id="ville" name="ville" value="{{ selected_city }}" readonly>
</div>

<div>
  <div>
    <div class="form-group">
    <label for="montant">Montant d'ouverture</label>  
    <input type="number" class="form-control" id="ville" name="solde_actuel"required>
  </div>
<div class="text-center">
  <a href="{% url 'gestionpage' %}" class="btn btn-primary d-inline-block me-3">
    Gérer les adhérents
  </a>

  <button type="submit" onclick="validateForm()"class="btn btn-primary d-inline-block">Enregistrer</button> 
</div>
</form>


<div id="error" style="display:none;" class="mt-3 alert alert-danger text-center">
  Erreur, veuillez remplir tous les champs
</div>
<!--fin du message-->
{% endblock %}

{% block js %}
<script>
    // Fonction pour valider le formulaire
    function validateForm() {
        var nomPrenoms = document.getElementById('nom_prenoms').value;
        var numeroTelephone = document.getElementById('numero_telephone').value;
        var numeroCni = document.getElementById('numero_cni').value;
        var profession = document.getElementById('profession').value;
        var localite = document.getElementById('localite').value;
        var montant = document.getElementById('montant').value;

        if (nomPrenoms !== '' && numeroTelephone !== '' && numeroCni !== '' && profession !== '' && localite !== '' && montant !== '' && montant > 0) {
            $('#successModal').modal('show'); // Afficher le modal de succès
            return true;
        } else {
            $('#errorModal').modal('show'); // Afficher le modal d'erreur
            return false;
        }
    }

    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        $('#successMessage').text('{{ message }}');
        $('#successModal').modal('show');
      {% endif %}
    {% endfor %}
  {% endif %}

    // Fonction pour afficher le message d'erreur dans le modal
    function showErrorModal(errorMessage) {
        $('#errorMessage').text(errorMessage);
        $('#errorModal').modal('show');
        setTimeout(function() {
            $('#errorModal').modal('hide');
        }, 5000); // Masquer le modal après 5 secondes
    }

    // Appel à la fonction showErrorModal si une erreur est détectée
    {% if error_message %}
        showErrorModal("{{ error_message }}");
    {% endif %}

    // Appel à la fonction showSuccessModal si tout se passe bien
    {% if success_message %}
        showSuccessModal("{{ success_message }}");
    {% endif %}
</script>
{% endblock %}
